<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{books.title}}</h1>
    <p>ID: {{books.id}}</p>
    <p>Descriptions: {{book.desc}}</p>
    <p>authors: </p>
    <ul>
     {% for x in books.authors.all %}
        <li>{{x.first_name}} {{x.last_name}}</li>
     {% endfor %}
    </ul>
    <form action="/bookInfo/{{books.id}}/addAuthor" method="post">
        {% csrf_token %}
        <label for="auth">Choose an author:</label>
        <select name="auth">
            {% for x in authors %}
                    <option value="{{x.id}}">{{x.first_name}} {{x.last_name}}</option>
            {% endfor %}

        </select>
        <br><br>
        <input type="submit" value="Add an Author">
      </form>
</body>
</html>