<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Go back</a>
    <h1>Tv show {{thisShow.id}}</h1>
    <p>Title {{thisShow.title}}</p>
    <p>Network {{thisShow.network}}</p>
    <p>Relased date: {{thisShow.dates}}</p>
    <p>{{thisShow.desc}}</p>
    <p>Last updated at -->{{thisShow.updated_at}}</p>

    <p><a href="{{thisShow.id}}/edit">Edit</a>| <a href=""><a href="{{thisShow.id}}/destroy">Delet</a>e</a></p>
</body>
</html>