<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            justify-content: center;
        }
        table, th, td {
            font-size: 50px;
            border: 5px solid black;
            border-collapse: collapse;
        }
        
    </style>
</head>
<body>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        {% for first, last in user %}
            <tr>
                <td>{{ user[first_name] }}</td>
                <td>{{ user[last_name] }}</td>
            </tr>
        {% endfor %}    
    </table>
</body>
</html>